.photo-gallery {
    color: #313437;
    background-color: #fff;
}

.photo-gallery p {
    color: #7d8285;
}

.photo-gallery h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}

@media (max-width:767px) {
    .photo-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.photo-gallery .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px;
}

.photo-gallery .intro p {
    margin-bottom: 0;
}

.photo-gallery .photos {
    padding-bottom: 20px;
}

.photo-gallery .item {
    padding-bottom: 30px;
}


.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(../img/prew.png) left 48% no-repeat;
    background-size: 70px;
    filter: alpha(Opacity=100);
    opacity: 1
}

.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(../img/next.png) right 48% no-repeat;
    background-size: 70px;
    filter: alpha(Opacity=0);
    opacity: 1;
}


.lightbox-content {
    padding: 0;
}

.lb-closeContainer {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 1;
}

.lb-close {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
    padding: 0 10px;
    border-radius: 50%;
    cursor: pointer;
}

@media (max-width:767px) {

    .lb-closeContainer {
        position: relative;

        padding: 10px;
        z-index: 1;
    }

    .photo-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }

    .lb-nav a.lb-prev {

        background-size: 40px;
    }

    .lb-nav a.lb-next {

        background-size: 40px;

    }

}

.section-title h2::after {

    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #9ae1af;
    margin: 4px 10px;

}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    /* margin-top: 40px; */
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #37423b;
}